body {
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.left {
    flex: 0.8; 
    margin: 150px auto auto auto;
    background-color: rgba(158, 202, 215, 0.985);
    border-radius: 10px;    /*将元素的边框半径设置为10像素，使其具有圆角。*/
    opacity: 1;     /*透明度*/
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
}


.left p {    /*设置主菜单中所有p标签长宽*/
    height: 30px;
    width: 100px;
}

.left button {   /*设置按钮样式*/
    border-radius: 10px;
    color: blue;
    font-size: 20px;
}

#operator {     /*当前收银员字体颜色*/
    color: rgb(239, 13, 13);
}

#maintenance{
    background-color: rgb(174, 109, 177);
}

.left button:hover,      /*鼠标移动上去和点击之后背景变色*/
.left button:not(#logout):focus,
.left button:not(#logout):active {
background-color: rgb(174, 109, 177);
}

.right {    
    flex: 2;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
    border: 2px solid rgb(28, 9, 233);
    margin: 50px 150px auto 200px;
    background-color: rgba(229, 221, 219, 0.985);
    border-radius: 10px;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}


.right input {    /*设置主菜单中所有p标签长宽*/
    height: 30px;
    width: 180px;
}

#maintainForm {
    text-align: center;
}

#newBarCode, #newProductName, #newPrice, #newSupply {
    border: 1px solid #2d09e6;
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #txtInput, #excelInput, #xmlInput {
    border: 1px solid #3506ef;
    background-color: #31a9d5e1;
    padding: 2px;
    margin-bottom: 10px;
  }
  
  #import, #uploadTxtButton, #uploadExcelButton, #uploadXmlButton {
    background-color: #e4ece3f5;
    color: rgb(45, 19, 217);
    border:  2 solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #infoMaintain {
    color: #666;
    font-size: 14px;
  }